<?xml version="1.0"?>

<configuration>

	<appSettings>
		<!--
		<add key="DataSource" value="USRTC-JONBURK2\sqlexpress"/>
		-->
		<add key="DataSource" value="USRTC-ROMEMAI2\sqlexpress"/>
		<add key="InitialCatalog" value="RequestTracker"/>
		<add key="FormsDirectory" value="D:\RequestTracker\RequestTracker\TestRequestForms\"/>
	</appSettings>

    <system.web>
		<compilation debug="true" strict="true" explicit="true" />
		<authentication mode="None" />
		<customErrors mode="Off" />
		<httpRuntime maxRequestLength="11000" />
    </system.web>
	
	
</configuration>
